<h2> Product Store </h2>



<% @product_stores.each do |product_store| %>
    <div> <strong><%= product_store.product_name %></strong></div>
    <div><%= product_store.price %></div>
    <div> <%= link_to 'Show', product_store %></div>
    
    <% if jetinder? %>
    <div> <%= link_to 'Edit', edit_product_store_path(product_store) %></div>
    <div><%= link_to 'Destroy', product_store, confirm: 'Are you sure?', method: :delete %></div>

  <% end %>

  <br>

<% end %>


<br />

<% if jetinder? %>
<%= link_to 'New Product', new_product_store_path %>

<% end %>

          <%= will_paginate @posts %>


