<p id="notice"><%= notice %></p>

<p>
  <H1><%= @product_store.product_name %></H1>
</p>



<%= image_tag @product_store.photo.url( :shrink )%>



<p>
  <b>Product category:</b>
  <%= @product_store.product_category %>
</p>

<p>
  <b>Price:</b>
  <%= @product_store.price %>
</p>

<p>
  <b>Description:</b>
  <%= @product_store.description %>
</p>

<% if jetinder? %>
<%= link_to 'Edit', edit_product_store_path(@product_store) %> |
<% end%>
<%= link_to 'Back', product_stores_path %>
